https://github.com/Geo-Python-2021/exercise-7-rahulsehgal10.git# Exercise 6: Weather anomalies (10 points)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-1.ipynb` file (this file).
    - **Copy/paste cells in this notebook**. We use an automated grading system that will fail if there are copies of code cells.
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

## Problem 1 - Reading in a tricky data file (2 points)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (1 point)

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [8]:
data = None

# YOUR CODE HERE
import pandas as pd
fp = r"data/1091402.txt"
data = pd.read_csv(
    fp, delim_whitespace=True, na_values=[-9999])
data = data.drop(0)
raise NotImplementedError()

NotImplementedError:

In [9]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
1,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37,39,34
2,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35,37,34
3,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33,36,NaN
4,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29,30,25
5,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27,30,25

In [10]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23712,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47,49,44
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47,48,45
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47,49,46
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47,NaN,44
23716,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52,56,NaN

### Part 2 (1 point)

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [44]:
tavg_nodata_count = None

# YOUR CODE HERE
tavg_nodata_count = data['TAVG'].isnull().sum()

In [45]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [46]:
tmin_nodata_count = None

# YOUR CODE HERE
tmin_nodata_count = data['TMIN'].isnull().sum()
raise NotImplementedError()

NotImplementedError:

In [47]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [49]:
day_count = None

# YOUR CODE HERE
day_count = len(data)
raise NotImplementedError()

NotImplementedError:

In [50]:
# Print out the solution:
print(f'Number of days: {day_count}')

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [60]:
first_obs = None

# YOUR CODE HERE
data_1 = data['DATE']
first_obs = data_1.loc[1]
raise NotImplementedError()

NotImplementedError:

In [61]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [67]:
last_obs = None

# YOUR CODE HERE
last_obs = data.at[23716, "DATE"]
raise NotImplementedError()

NotImplementedError:

In [68]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [74]:
avg_temp = None

# YOUR CODE HERE
data_2 = data["TAVG"].astype(float)
avg_temp = data_2.mean()
raise NotImplementedError()

NotImplementedError:

In [75]:
# Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [ ]:
avg_temp_1969 = None

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print(f'Average temperature (F) for the Summer of 69: {round(avg_temp_1969, 2)}')

## Problem 2 - Calculating monthly average temperatures (3 points)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [102]:
monthly_data = None
def fahr_to_celsius(temp_fahrenheit):
    """Function to convert Fahrenheit temperature into Celsius.

    Parameters
    ----------

    temp_fahrenheit: int | float
        Input temperature in Fahrenheit (should be a number)

    Returns
    -------

    Temperature in Celsius (float)
    """

    # Convert the Fahrenheit into Celsius
    converted_temp = (temp_fahrenheit - 32) / 1.8

    return converted_temp
# YOUR CODE HERE
data["DATE_STR"] = data["DATE"].astype(str)
data["YEAR_MONTH"] = data["DATE_STR"].str.slice(start=0, stop=6)

monthly_data = data.groupby("YEAR_MONTH")
data["TAVG"]=data["TAVG"].astype(float)
data["temp_celsius"]=fahr_to_celsius(data["TAVG"])
monthly_data.mean()
raise NotImplementedError()

NotImplementedError:

In [97]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [98]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

AttributeError: 'DataFrameGroupBy' object has no attribute 'columns'

In [99]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

YEAR_MONTH
195201    -1.400966
195202    -4.000000
195203   -10.106838
195204     4.226190
195205     7.037037
            ...
201706    13.500000
201707    15.716846
201708    15.716846
201709    11.296296
201710     9.027778
Name: temp_celsius, Length: 790, dtype: float64

In [100]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

YEAR_MONTH
195201    -1.67
195202    -3.33
195203   -11.94
195204     3.33
195205     6.67
          ...
201706    13.61
201707    15.56
201708    16.67
201709    11.39
201710     8.33
Name: temp_celsius, Length: 790, dtype: float64

## Problem 3 - Calculating temperature anomalies (5 points)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., for February 1952 to 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
# Check the monthly data:
monthly_data.head()

In [ ]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)